{
    "openapi": "3.0.0",
    "info": {
        "title": "Start API",
        "description": "AgroBozor uchun backend API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://daladan-api.loc/api/v1",
            "description": "Local dev server (OSPanel)"
        },
        {
            "url": "http://localhost:8000/api/v1",
            "description": "php artisan serve"
        }
    ],
    "paths": {
        "/profile/ads": {
            "get": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "O'z reklamalari ro'yxati",
                "description": "index() — GET /profile/ads",
                "operationId": "7a9731f2689f980407da9d1da8ae61b5",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E'lonlar ro'yxati"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "Yangi e'lon yaratish",
                "description": "store() — POST /profile/ads",
                "operationId": "e5d7980dbd0c715513ff692d8cf3ec26",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "subcategory_id",
                                    "title"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "subcategory_id": {
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "district": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "price": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "nullable": true
                                    },
                                    "unit": {
                                        "type": "string",
                                        "enum": [
                                            "kg",
                                            "ton",
                                            "bag",
                                            "box",
                                            "piece"
                                        ],
                                        "nullable": true
                                    },
                                    "media[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "E'lon yaratildi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/ads/{ad}": {
            "get": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "Bitta o'z reklamasini ko'rish",
                "description": "show() — GET /profile/ads/{ad}",
                "operationId": "37fefae3414d73b9996bf7a4b362b78e",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E'lon"
                    },
                    "404": {
                        "description": "Topilmadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "PUT alias (JSON body)",
                "operationId": "98538465f42c5817e7a729fa6ccc3b33",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "E'lonni yangilash (form-data/media uchun POST, JSON uchun PUT/PATCH)",
                "description": "update() — POST /profile/ads/{ad}  (yoki PUT / PATCH)",
                "operationId": "d8ced18cdf278e093c9814ac37544c50",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "subcategory_id": {
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "district": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "price": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "nullable": true
                                    },
                                    "unit": {
                                        "type": "string",
                                        "enum": [
                                            "kg",
                                            "ton",
                                            "bag",
                                            "box",
                                            "piece"
                                        ],
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "sold",
                                            "deleted"
                                        ]
                                    },
                                    "delete_media_ids[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "media[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "E'lon yangilandi"
                    },
                    "404": {
                        "description": "Topilmadi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "O'z reklamasini o'chirish",
                "description": "destroy() — DELETE /profile/ads/{ad}",
                "operationId": "102a0930d0df2b4f5c7409f368aa9fe3",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "O'chirildi"
                    },
                    "404": {
                        "description": "Topilmadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Profile",
                    "Ads"
                ],
                "summary": "PATCH alias (JSON body)",
                "operationId": "eb487286a597fd7f919040798130f1fd",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Yangi foydalanuvchini ro'yxatdan o'tkazish",
                "description": "register() — POST /register",
                "operationId": "858ecba1c675ee39e49f2b0c265443ff",
                "parameters": [
                    {
                        "name": "auth_type",
                        "in": "query",
                        "description": "Registratsiya turi: password yoki telegram",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "password",
                            "enum": [
                                "password",
                                "telegram"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password",
                                    "fname",
                                    "lname"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "parol123"
                                    },
                                    "fname": {
                                        "type": "string",
                                        "example": "Ism"
                                    },
                                    "lname": {
                                        "type": "string",
                                        "example": "Familiya"
                                    },
                                    "region_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "email": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Muvaffaqiyatli ro'yxatdan o'tdi, token qaytdi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Telefon raqam va parol bilan login",
                "description": "login() — POST /login",
                "operationId": "a99c7c5fa27adf14888e3da5b618cfe6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "parol123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli login, JWT token qaytadi"
                    },
                    "401": {
                        "description": "Telefon raqam yoki parol noto'g'ri"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Tizimdan chiqish",
                "description": "logout() — POST /logout",
                "operationId": "9c173571cff516089ecbcb956c008fad",
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli logout"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/get-me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Hozirgi foydalanuvchi ma'lumotlari",
                "description": "me() — GET /get-me",
                "operationId": "19ada446963c7a334dc487633636b104",
                "responses": {
                    "200": {
                        "description": "Foydalanuvchi ma'lumotlari"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Tokenni yangilash",
                "description": "refresh() — POST /refresh",
                "operationId": "19989e3128942ce9212927fec5791464",
                "responses": {
                    "200": {
                        "description": "Yangi token qaytadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/public/ads": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Barcha faol e'lonlar (ixtiyoriy filter)",
                "description": "category_id/subcategory_id yuborilmasa — barcha faol e'lonlar; yuborilsa — shu bo'yicha filter.",
                "operationId": "728b62ca4aa4bee130a611e83c0407cd",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "1–50, default 15",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Berilmasa barcha kategoriyalar",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "subcategory_id",
                        "in": "query",
                        "description": "Berilmasa filter yo'q",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginatsiyali e'lonlar"
                    },
                    "422": {
                        "description": "category_id/subcategory_id noto'g'ri"
                    }
                }
            }
        },
        "/public/ads/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Bitta faol e'lon",
                "description": "ad() — GET /public/ads/{id}",
                "operationId": "3dedff3ec13a5e42171cd56f935d0232",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E'lon obyekti"
                    },
                    "404": {
                        "description": "Topilmadi yoki faol emas"
                    }
                }
            }
        },
        "/resources/regions": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol viloyatlar ro'yxati (ichida faol tumanlari bilan)",
                "description": "regions() — GET /resources/regions",
                "operationId": "3c4bd909a16dcc3696637e4aa06559c9",
                "responses": {
                    "200": {
                        "description": "Viloyatlar ro'yxati"
                    }
                }
            }
        },
        "/resources/cities": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol tumanlar ro'yxati (ixtiyoriy region_id bo'yicha)",
                "description": "cities() — GET /resources/cities",
                "operationId": "0d41ec81256a3feecd7b0d99e59fabe4",
                "parameters": [
                    {
                        "name": "region_id",
                        "in": "query",
                        "description": "Faqat shu viloyatga tegishli tumanlar",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tumanlar ro'yxati"
                    }
                }
            }
        },
        "/resources/categories": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol kategoriyalar ro'yxati",
                "description": "categories() — GET /resources/categories",
                "operationId": "b5fd084911d81a5540dc9e84a4faf972",
                "responses": {
                    "200": {
                        "description": "Kategoriyalar ro'yxati"
                    }
                }
            }
        },
        "/resources/subcategories": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol subkategoriyalar ro'yxati (ixtiyoriy category_id bo'yicha)",
                "description": "subcategories() — GET /resources/subcategories",
                "operationId": "d29b942b23445d27362e2eb4911c49dd",
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Faqat shu kategoriyaga tegishli subkategoriyalar",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subkategoriyalar ro'yxati"
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "O'zi haqida ma'lumot",
                "description": "profile() — GET /profile",
                "operationId": "619297248f5a11bac7e6dc42cb107928",
                "responses": {
                    "200": {
                        "description": "Profil ma'lumotlari"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profilni yangilash",
                "description": "updateProfile() — PUT /profile",
                "operationId": "798da08340d38b76e1f29e150721dfa4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "fname": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "lname": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "region_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/avatar": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Avatarni yangilash",
                "description": "updateAvatar() — POST /profile/avatar",
                "operationId": "6284eaffea00bdf2e1728fc3bc72d72e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "avatar"
                                ],
                                "properties": {
                                    "avatar": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Avatar yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/password": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Parolni o'zgartirish",
                "description": "updatePassword() — PUT /profile/password",
                "operationId": "4369b5f7123569e7d63b6e5ff819fc01",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string"
                                    },
                                    "new_password": {
                                        "type": "string"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Parol muvaffaqiyatli o'zgartirildi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi / parol mos kelmadi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Public",
            "description": "Front uchun ochiq (tokensiz) endpointlar"
        },
        {
            "name": "Resources",
            "description": "Viloyat, tuman, kategoriya va subkategoriya resurslari"
        },
        {
            "name": "Profile",
            "description": "Autentifikatsiyalangan foydalanuvchi profili"
        },
        {
            "name": "Ads",
            "description": "Ads"
        },
        {
            "name": "Auth",
            "description": "Auth"
        }
    ]
}