{
    "openapi": "3.0.0",
    "info": {
        "title": "Start API",
        "description": "AgroBozor uchun backend API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://daladan-api.loc/api/v1",
            "description": "Local dev server"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Yangi foydalanuvchini ro'yxatdan o'tkazish (parol yoki telegram)",
                "operationId": "5d4fa5d5607ed675ba93907e1fc94534",
                "parameters": [
                    {
                        "name": "auth_type",
                        "in": "query",
                        "description": "Registratsiya turi: password yoki telegram",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "password",
                            "enum": [
                                "password",
                                "telegram"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password",
                                    "fname",
                                    "lname",
                                    "region_id",
                                    "city_id"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "parol123"
                                    },
                                    "fname": {
                                        "type": "string",
                                        "example": "Ism"
                                    },
                                    "lname": {
                                        "type": "string",
                                        "example": "Familiya"
                                    },
                                    "region_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user@example.com",
                                        "nullable": true
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "example": "@username",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Muvaffaqiyatli ro'yxatdan o'tdi, token qaytdi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Telefon raqam va parol bilan login",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "parol123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli login, JWT token qaytadi"
                    },
                    "401": {
                        "description": "Telefon raqam yoki parol noto'g'ri"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Tizimdan chiqish",
                "operationId": "28d48c13fca984400ac8de99f54ee13a",
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli logout"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/get-me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Hozirgi foydalanuvchi ma'lumotlari",
                "operationId": "a00bacc3e465758a751ab2ad40ba462c",
                "responses": {
                    "200": {
                        "description": "Foydalanuvchi ma'lumotlari qaytadi"
                    },
                    "401": {
                        "description": "Unauthorized (token yo'q yoki noto'g'ri)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Tokenni yangilash",
                "operationId": "43a6bea9efa4b685457298ce9505de70",
                "responses": {
                    "200": {
                        "description": "Yangi token qaytadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/resources/regions": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol viloyatlar ro'yxati (ichida faol tumanlari bilan)",
                "operationId": "acb00a3f86bbadd29b5cb67ab38fab64",
                "responses": {
                    "200": {
                        "description": "Viloyatlar ro'yxati"
                    }
                }
            }
        },
        "/resources/cities": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol tumanlar ro'yxati (ixtiyoriy region_id bo'yicha)",
                "operationId": "67d442ec29fc3f032ba6c8b5950348fc",
                "parameters": [
                    {
                        "name": "region_id",
                        "in": "query",
                        "description": "Faqat shu viloyatga tegishli tumanlarni olish uchun",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tumanlar ro'yxati"
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "O'zi haqida ma'lumot",
                "operationId": "1a4b846fd60226473a8cb32221eea509",
                "responses": {
                    "200": {
                        "description": "Profile ma'lumotlari"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profilni yangilash",
                "operationId": "98ce02c235e928fb6e62f79588f43b8d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "fname": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "lname": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "region_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/avatar": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Avatarni yangilash",
                "operationId": "2d4eed24e158145be34c7b904528643a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "avatar"
                                ],
                                "properties": {
                                    "avatar": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Avatar yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/password": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Parolni o'zgartirish",
                "operationId": "0834424c823108fb3c039e5f3509a420",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string"
                                    },
                                    "new_password": {
                                        "type": "string"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Parol muvaffaqiyatli o'zgartirildi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya/parol mos kelmadi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Resources",
            "description": "Viloyat va tumanlar resurslari"
        },
        {
            "name": "Profile",
            "description": "Autentifikatsiyalangan foydalanuvchi profili"
        },
        {
            "name": "Auth",
            "description": "Auth"
        }
    ]
}